rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /uploads/{userId}/{allPaths=**} {
      allow read, write: if true;
    }
    match /outputs/{userId}/{allPaths=**} {
      allow read, write: if true;
    }
  }
}
